h1{
    text-align: center;
    color: #000000;
    font-family: Arial, sans-serif;
}
h2{
    text-align: center;
    color: #f70000;
    font-family: Arial, sans-serif;
}
#perfil-card {
    width: 300px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #eb0000;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #333;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
}
table{
    width: 50%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    border: #333 4px solid;
}
th, td{
    padding : 10px;
    border: #333 2px solid;
}

body{
    background: linear-gradient( to bottom, #7d0000b4, #00000060);
    border: #000000 10px solid;
}

footer {
    text-align: center;
    color:red ;
    padding: 50px;
}
