h1{
    text-align: center;
    color: hsl(240, 100%, 50%);
    font-family: 'Arial', sans-serif;
}
.perfil-card{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}